body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

input {
    width: 150px;
    height: 45px;
}

.small {
    width: 50px;
    height: 30px;
}

.long {
    width: 200px;
    height: 30px;
}

button {
    width: 100px;
    height: 50px;
    font-size: 15px;
    color: black;
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#header {
    font-family: "DejaVu Serif";
    font-size: medium;
}

#listing {
    font-family: "DejaVu Serif";
    font-size: small;
    text-align: center;
}


