/*#wrap{position: relative;float: bottom;width: 100%;border: 1px solid red;}*/
body{
    background-image: url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
#wrap {
    /*border: 3px solid white;*/
    height: 100%;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}
.box {
    display: inline-block;
    float: left;
    /*border: 3px solid green;*/
    position: relative;
    margin-left:20%;
    margin-right:auto;
    width: 60%;
    height: 60%;
}

.text-right{
    text-align: right;
    font-size: 30px;
    color: black;
    font-weight: bold;
    line-height: 40px;
}

.button-box {
    position: relative;
    background: gray;
    display:table;
}
.letter{
    position: relative;
    /*margin:0 auto;*/
    display: inline-block;
    margin: 0 auto;
    float: left;
    width: 60px;
    height: 60px;
    border-style: solid;
    border-width: 3px;
    border-color: black;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    /*background-color: beige*/
}

.background-orange{
    background-color: orange}


.background-beige{
    background-color: beige}

.background-gray{
    background-color: gray}

input {
    position: absolute;
    width: 100px;
    height: 45px;
}

button {
    width: 100px;
    height: 50px;
}


.margin-null-auto {
    margin:0 auto;
}

.text-center {
    text-align: center;
}

.text-big {
    font-size : 50px;
}

.center {
    margin-right:55%;
    margin-left: 47%;
}

.text-field {
    position: absolute;
    background-color: white;
    text-size: 30px;
    color: black;
    width: 60%;
    height: 60%;
    margin-left: 20%;
    /*margin: 0 auto;*/
    border-style: solid;
    border-width: 3px;
    border-color: black;
}

.back-button {
    position: absolute;
    overflow: hidden;
    left: 80%;
    top: 0;
    width: 50px;
    height: 50px;
}

